@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 1px;
}

.down {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

body {
  font-family: "Montserrat";
  height: 100vh;
  width: 100vw;
  margin: 0;
  background: #EEEEEE;
  overflow: hidden;
}

.container {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  width: 100vw;
  margin: 0;
  -ms-grid-columns: 66% 34%;
      grid-template-columns: 66% 34%;
  -ms-grid-rows: 50%;
      grid-template-rows: 50%;
}

.container .time {
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  margin: 1em 1em 1em 1em;
}

.container .time .time-container {
  padding: 7em 3em 3em 3em;
}

.container .time .time-container h1 {
  font-family: monospace;
  text-align: center;
}

.container .data {
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
}

.container .data .data-main {
  padding: 1em 1em 1em 1em;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.container .data .data-main .data-container {
  margin: 0.5em;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  padding: 1em;
}

.container .data .data-main .data-container * {
  display: inline-block;
  padding: 0.3em 0.3em 0.3em 0.3em;
  margin: 0;
}

.container .data .data-main .data-container #practice-algs,
.container .data .data-main .data-container #practice-goals {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.container .data .data-main .data-container #practice-algs:hover,
.container .data .data-main .data-container #practice-goals:hover {
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  background-color: rgba(61, 179, 214, 0.5);
}

.container .data .data-main .data-container #practice-algs:active,
.container .data .data-main .data-container #practice-goals:active {
  -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  -webkit-transition: ease box-shadow 0.1s;
  transition: ease box-shadow 0.1s;
}

.container .case {
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  font-weight: 900;
  color: #F0F0F0;
  background-color: #3db3d6;
  -webkit-box-shadow: -4px 0 8px rgba(0, 0, 0, 0.15);
          box-shadow: -4px 0 8px rgba(0, 0, 0, 0.15);
}

.container .case .case-main {
  padding: 1em 1em 1em 1em;
}

.container .case .case-main .case-container {
  margin: 0.5em;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  padding: 1em;
}

.container .case .case-main .case-container * {
  display: inline-block;
  padding: 0.3em 0.3em 0.3em 0.3em;
  margin: 0;
}
/*# sourceMappingURL=main.css.map */